#include <zephyr/dt-bindings/pinctrl/rpi-pico-rp2040-pinctrl.h>


/*/ {
    fragment@0 {
        target = <&cpus>;
        __overlay__ {
            #address-cells = <1>;
            #size-cells = <0>;
            cpu@0 {
                device_type = "cpu";
                compatible = "arm,cortex-a0";
                reg = <0>;
            };
            cpu@1 {
                device_type = "cpu";
                compatible = "arm,cortex-a0";
                reg = <1>;
                enable-method = "arm,v7-m-boot";
            };
        };
    };
};*/

/ {
    aliases {
               led0 = &myled0;
               led1 = &myled1;
    };

    leds {
            compatible = "gpio-leds";
            myled0: led_0 {
                    gpios = <&gpio0 15 GPIO_ACTIVE_HIGH>;
            };
            myled1: led_1 {
                    gpios = <&gpio0 16 GPIO_ACTIVE_HIGH>;
            };
    };
};


&pinctrl {
    i2c1_default: i2c1_default {
        group1 {
            pinmux = <I2C1_SDA_P26>, <I2C1_SCL_P27>;
            input-enable;
            input-schmitt-enable;
        };
    };
};
&i2c1 {
    clock-frequency = <I2C_BITRATE_STANDARD>;
    status = "okay";
    pinctrl-0 = <&i2c1_default>;
    pinctrl-names = "default";
};


