#include <zephyr/dt-bindings/pinctrl/rpi-pico-rp2040-pinctrl.h>


&pinctrl {
    i2c1_default: i2c1_default {
        group1 {
            pinmux = <I2C1_SDA_P2>, <I2C1_SCL_P3>;
            input-enable;
            input-schmitt-enable;
        };
    };
};
&i2c1 {
    clock-frequency = <I2C_BITRATE_STANDARD>;
    status = "okay";
    pinctrl-0 = <&i2c1_default>;
    pinctrl-names = "default";
};